# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Secrets and credentials
*.pem
*.key
.env
.aws/credentials
*credentials*

# Mac
.DS_Store

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Node
node_modules/

# AWS SAM
.aws-sam/

# Terraform override files
override.tf
override.tf.json

# Ansible retry files
*.retry